{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

<body class="theme-amber">
<section class="content">
		<div class="row clearfix">
    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        		<div class="card">
                    <div class="header">
                        <h2><center><b>
                                AGREGAR EVALUACIÓN
                                <small>Registra una evaluación en el sistema</small>
                        </h2></center></b>
                    </div>

					<div class="body">
            			<div class="row clearfix">
                			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    			<div class="card">
                        			<div class="header">
                            			<h2><b>
                                			CREAR EVALUACIÓN - DOCENTE
                            			</h2></b>
                        			</div>

                        			<div class="body">
              							<form method="POST">{% csrf_token %}
                							<div class="form-row">
                                				<div class="col-md-3 mb-3">
                    								<label for="{{form.nombre.nombre}}">{{form.nombre.label}}</label>
                      								{{form.nombre}}
                    							</div>
                    							<div class="col-md-3 mb-3">
                    								<label for="{{form.tipo.tipo}}">{{form.tipo.label}}</label>
                      								{{form.tipo}}
                    							</div>
                    							<div class="col-md-3 mb-3 show-tick">
                      								<label for="{{form.ponderacion.ponderacion}}">{{form.ponderacion.label}}</label>
                      								{{form.ponderacion}}
                    							</div>
                                                <div class="col-md-5 mb-4 switch">
                                                    <b>{{form.is_grupal.label}}</b> <br>
                                                    <label>NO<input type="checkbox" value={{form.is_grupal}}> 
                                                        <span class="lever">
                                                        </span> 
                                                        SÍ
                                                    </label>
                                                    {{form.is_grupal}}
                                                </div>
                  							</div>
                  							<div class="form-group row">
                      							<div class="col-sm-10">
                        							<button type="submit" class="btn btn-success">Agregar</button>
                        							<a href="{% url 'detalleCurso' pk %}" class="btn btn-danger" title="Editar información" class="btn btn-success btn-lg btn-sm">Cancelar</a>
                                                    <a href="{% url 'detalleCurso' pk %}" class="btn btn-warning" title="Editar información" class="btn btn-success btn-lg btn-sm">Regresar</a>
                      							</div>
                    						</div>
              							</form>
                        			</div>
                    			</div>
               	 			</div>
            			</div>
					</div><hr>

					<div class="body">
            			<div class="row clearfix">
                			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    			<div class="card">
                        			<div class="header">
                            			<h2><b>
                                			EVALUACIONES DEL CURSO
                                			<small>Evaluaciones Registradas en el Curso</small>
                            			</h2></b>
                        			</div>

                        			<div class="body">
                        				<div class="body table-responsive">
                            				<table class="table table-bordered">
                                				<thead>
                                    				<tr>
                                        				<th>Curso</th>
                                        				<th>Evaluación</th>
                                                        <th>Tipo</th>
                                                        <th>Ponderación</th>
                                                        <th>Carácter</th>
                                                        <th><center>Acciones</center></th>
                                    				</tr>
                                				</thead>
                                				<tbody>
                                				{% if evaluaciones %}
                                				{% for evaluaciones in evaluaciones %}
                                    				<tr>
                                        				<th>{{evaluaciones.curso.asignatura.sigla}} {{evaluaciones.curso.asignatura.nombre}}</th>
                                                        <td>{{evaluaciones.nombre}}</td>
                                        				<td>{{evaluaciones.tipo.nombre}}</td>
                                                        <td>{{evaluaciones.ponderacion}}</td>
                                                        <td>{% if evaluaciones.is_grupal == True %} Grupal {% else %} Individual {% endif %}</td>
                                        				<td>
                                                            <center>
                                                                <a href="{% url 'editarEvaluacion' evaluaciones.pk %}" class="btn btn bg-blue btn-circle waves-effect" title="Ir a Evaluaciones"><i class="material-icons">edit</i></a>
                                                                <a href="" data-toggle="modal" data-target="#eliminarEvaluacion" class="btn btn bg-red btn-circle waves-effect" title="Eliminar Evaluación"><i class="material-icons">delete</i></a>

                                                                  <!-- Elimnar Evaluacion Modal-->
                                                                  <div class="modal fade" id="eliminarEvaluacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                    <div class="modal-dialog" role="document">
                                                                      <div class="modal-content">
                                                                        <div class="modal-header">
                                                                          <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro que deseas eliminar  <i>{{evaluaciones.nombre}} - {{evaluaciones.tipo.nombre}}</i>?</h5>
                                                                          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">×</span>
                                                                          </button>
                                                                        </div>
                                                                        <div class="modal-body">Selecciona el botón <b><i>'Sí'</i></b> para eliminar esta Evaluación. De lo contrario, sólo cierra este mensaje.</div>
                                                                        <div class="modal-footer">
                                                                          <button class="btn btn-warning" type="submit" data-dismiss="modal">Cancelar</button>
                                                                          <a class="btn btn-danger" href="{% url 'eliminarEvaluacion' evaluaciones.pk %}">Sí</a>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                            </center>
                                        				</td>
                                    				</tr>
                                    			{% endfor %}
                                    			{% else %}
                                    				<center><h5><b>No hay registros de Cursos para registrar Asignaturas <i class="material-icons">mood_bad</i></b></h5></center>
                                    			{% endif %}
                                				</tbody>
                            				</table>
                        				</div>
                        			</div>

                    			</div>
               	 			</div>
            			</div>
					</div>

				</div>
			</div>
		</div>


</section>
</body>


{% endblock %}