{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

                                             
<body class="theme-amber">
<section class="content">
		<div class="row clearfix">
    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        		<div class="card">

                    <div class="header">
                        <h2><center><b>
                                MIS CURSOS
                                <small>Cursos registrados en el sistema</small>
                        </h2></center></b>
                    </div>

					<div class="body">
            			<div class="row clearfix">
                			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    			<div class="card">
                        			<div class="header">
                            			<h2><b>
                                			DETALLE GENERAL CURSO
                            			</h2></b>
                        			</div>
                        			<div class="body">
                                        <p>
                                            Carrera: <b>{{curso.asignatura.carrera.nombre}}</b><br>
                                            Curso: <b> <i>{{curso.asignatura.sigla}}</i> - {{curso.asignatura.nombre}}</b><br>                                           
                                        </p><br>

                                        <h4><b>
                                            <center>COEVALUACIONES</center>
                                        </h4></b>

                                    <div class="body">
                                        <div class="body table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Evaluación</th>
                                                        <th>Tipo</th>
                                                        <th>% Ponderación</th>
                                                        <th>Carácter</th>
                                                        <th><center>Acciones</center></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% if evaluaciones %}
                                                {% for evaluaciones in evaluaciones %}
                                                    <tr>
                                                        <td>{{evaluaciones.nombre}}</td>
                                                        <td>{{evaluaciones.tipo.nombre}}</td>
                                                        <td>{{evaluaciones.ponderacion}}</td>
                                                        <td>{% if evaluaciones.is_grupal == True %} Grupal {% else %} Individual {% endif %}</td>
                                                        
                                                        <td>
                                                            <center>
                                                                {% if evaluaciones.is_grupal == True %}
                                                                    <a href="{% url 'evaluarCompañeros' alumno.pk pka evaluaciones.pk %}" class="btn btn bg-deep-purple btn-circle waves-effect" title="Evalúa a tus compañeros :D"><i class="material-icons">add</i></a>
                                                                    <a href="{% url 'verResultadosCoevaluacion' curso.pk evaluaciones.pk alumno.pk %}" class="btn btn bg-pink btn-circle waves-effect" title="Ve tus resultados :D"><i class="material-icons">search</i></a>
                                                                {% else %}
                                                                    <a href="" class="btn btn bg-red btn-circle waves-effect" title="Ver detalle de la evaluación"><i class="material-icons">search</i></a>
                                                                {% endif %}                                  

                                                            </center>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                    <td><b><i>Total</i></b></td>
                                                    <td></td>
                                                    <td><b>{{suma}}</b></td>
                                                    <td></td>
                                                {% else %}
                                                    <center><h5><b>¡No hay registros de Evaluaciones para Coevaluar en este curso! </b></h5></center>
                                                {% endif %}
                                				</tbody>
                            				</table>
                        				</div>

<br>
 <!--
                                        <h4><b>
                                            <center>MIS RESULTADOS</center>
                                        </h4></b>

                                        <div class="body table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>RUT</th>
                                                        <th>Nombre</th>
                                                        <th>Teléfono</th>
                                                        <th>Mail</th>
                                                        {% for notas in notas %}<th>Nota {{notas.evaluacion.nombre}}</th>{% endfor %}
                                                        <th><center>Acciones</center></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% if alumno %}
                                                    <tr>
                                                        <td>{{alumno.rut}}</td>
                                                        <td>{{alumno.nombre}} {{alumno.apellido_pat}} {{alumno.apellido_mat}}</td>
                                                        <td>{% if alumno.telefono == None %}<b><i>Sin Registro</i></b> {% else %} {{alumno.telefono}}{% endif %}</td>
                                                        <td>{{alumno.mail}}</td>
                                                        {% if notas %}{% for notas in notas %}<td>{{notas.nota}}</td>{% endfor %}{% endif %}
                                                        <td>
                                                            <center>
                                                                <a class="btn btn bg-light-green btn-circle waves-effect" disabled="disabled" title="No disponible :("><i class="material-icons">cloud_download</i></a>
                                                            </center>
                                                        </td>
                                                    </tr> 
                                                {% else %}
                                                <center><h5><b>¡No hay registros de Alumnos inscritos en este curso! </b></h5></center>
                                                {% endif %}
                                                </tbody>
                                            </table>                         
                                        </div>
-->
                        			</div>

                    			</div>
               	 			</div>
            			</div>
					</div>
				</div>
			</div>
		</div>
</section>
</body>



{% endblock %}