{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

<body class="theme-amber">
<section class="content">
		<div class="row clearfix">
    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        		<div class="card">
                    <div class="header">
                        <h2><center><b>
                                CARGA ALUMNOS - MANUAL
                                <small>Registra alumnos al Sistema</small>
                        </h2></center></b>
                    </div>

					<div class="body">
            			<div class="row clearfix">
                			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    			<div class="card">
                        			<div class="header">
                            			<h2><b>
                                			ALUMNOS - CARGA MANUAL
                            			</h2></b>
                        			</div>

                        			<div class="body">
              							<form method="POST">{% csrf_token %}
                							<div class="form-row">
                                                <div class="col-md-4 mb-4">
                                                    <label for="{{form.carrera.carrera}}">{{form.carrera.label}}</label>
                                                    {{form.carrera}}
                                                </div>
                                				<div class="col-md-4 mb-4">
                    								<label for="{{form.rut.rut}}">{{form.rut.label}}</label>
                      								{{form.rut}}
                    							</div>
                    							<div class="col-md-4 mb-4">
                    								<label for="{{form.nombre.nombre}}">{{form.nombre.label}}</label>
                      								{{form.nombre}}
                    							</div>
                    							<div class="col-md-4 mb-4 show-tick">
                      								<label for="{{form.apellido_pat.apellido_pat}}">{{form.apellido_pat.label}}</label>
                      								{{form.apellido_pat}}
                    							</div>
                                                <div class="col-md-4 mb-4 show-tick">
                                                    <label for="{{form.apellido_mat.apellido_mat}}">{{form.apellido_mat.label}}</label>
                                                    {{form.apellido_mat}}
                                                </div>
                                                <div class="col-md-4 mb-4 show-tick">
                                                    <label for="{{form.mail.mail}}">{{form.mail.label}}</label>
                                                    {{form.mail}}
                                                </div>
                                                <div class="col-md-4 mb-4 show-tick">
                                                    <label for="{{form.telefono.telefono}}">{{form.telefono.label}}</label>
                                                    {{form.telefono}}
                                                </div>
                  							</div>
                  							<div class="form-group row">
                      							<div class="col-sm-10">
                        							<button type="submit" class="btn bg-cyan">Agregar</button>
                        							<a href="{% url 'detalleCurso' pka %}" class="btn btn-danger" title="Editar información" class="btn btn-success btn-lg btn-sm">Regresar</a>
                      							</div>
                    						</div>
              							</form>
                        			</div>
                    			</div>
               	 			</div>
            			</div>
					</div>

					<div class="body">
            			<div class="row clearfix">
                			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    			<div class="card">
                        			<div class="header">
                            			<h2><b>
                                			ALUMNOS REGISTRADOS
                                			<small>Alumnos registrados en el sistema</small>
                            			</h2></b>
                        			</div>

                        			<div class="body">
                        				<div class="body table-responsive">
                            				<table class="table table-bordered">
                                				<thead>
                                    				<tr>
                                        				<th>RUT</th>
                                        				<th>Alumno</th>
                                                        <th>Mail</th>
                                                        <th>Teléfono</th>
                                                        <th><center>Acciones</center></th>
                                    				</tr>
                                				</thead>
                                                <p><b><i> ING EJECUCIÓN INF</i></b></p>
                                				<tbody> 
                                				{% if alumno %}
                                				{% for alumno in alumno %}
                                                {% if alumno.carrera.nombre == "Ingeniería de Ejecución en Informática" %}
                                    				<tr>
                                        				<th>{{alumno.rut}}</th>
                                                        <td>{{alumno.nombre}} {{alumno.apellido_pat}} {{alumno.apellido_mat}}</td>
                                        				<td>{{alumno.mail}}</td>
                                        				<td>{{alumno.telefono}}</td>
                                                        <td>
                                                            <center>
                                                                <a href="" type="button" class="btn bg-orange btn-circle waves-effect waves-circle waves-float" title="Carga de alumnos manual"><i class="material-icons">edit</i></a>
                                                                <a href="" type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float" title="Carga de alumnos manual"><i class="material-icons">delete</i></a>
                                                            </center>
                                                        </td>
                                    				</tr>
                                                {% endif %}
                                                {% endfor %}
                                    			{% else %}
                                    				<center><h5><b>No hay registros de Alumnos <i class="material-icons">mood_bad</i></b></h5></center>
                                    			{% endif %}
                                				</tbody>
                            				</table>
                        				</div>
                                    </div>

                                    <div class="body">
                                        <div class="body table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>RUT</th>
                                                        <th>Alumno</th>
                                                        <th>Mail</th>
                                                        <th>Teléfono</th>
                                                        <th><center>Acciones</center></th>
                                                    </tr>
                                                </thead>
                                                <p><b><i> ING. CIVIL INFORMÁTICA</i></b></p>
                                                <tbody> 
                                                {% if alumno %}
                                                {% for alumno in alumno %}
                                                {% if alumno.carrera.nombre == "Ingeniería Civil Informática" %}
                                                    <tr>
                                                        <th>{{alumno.rut}}</th>
                                                        <td>{{alumno.nombre}} {{alumno.apellido_pat}} {{alumno.apellido_mat}}</td>
                                                        <td>{{alumno.mail}}</td>
                                                        <td>{{alumno.telefono}}</td>
                                                        <td>
                                                            <center>
                                                                <a href="{% url 'editarAlumno' alumno.pk pk %}" type="button" class="btn bg-orange btn-circle waves-effect waves-circle waves-float" title="Carga de alumnos manual"><i class="material-icons">edit</i></a>
                                                                <a href="{% url 'agregarAlumnoManual' pk %}" type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float" title="Carga de alumnos manual"><i class="material-icons">delete</i></a>
                                                            </center>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {% endfor %}
                                                {% else %}
                                                    <center><h5><b>No hay registros de Alumnos <i class="material-icons">mood_bad</i></b></h5></center>
                                                {% endif %}<br>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>

                                    <div class="body">
                                        <div class="body table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>RUT</th>
                                                        <th>Alumno</th>
                                                        <th>Mail</th>
                                                        <th>Teléfono</th>
                                                        <th><center>Acciones</center></th>
                                                    </tr>
                                                </thead>
                                                <p><b><i> ING. CIVIL EN CIENCIA DE DATOS</i></b></p>
                                                <tbody> 
                                                {% if alumno %}
                                                {% for alumno in alumno %}
                                                {% if alumno.carrera.nombre == "Ingeniería Civil en Ciencia de Datos" %}
                                                    <tr>
                                                        <th>{{alumno.rut}}</th>
                                                        <td>{{alumno.nombre}} {{alumno.apellido_pat}} {{alumno.apellido_mat}}</td>
                                                        <td>{{alumno.mail}}</td>
                                                        <td>{{alumno.telefono}}</td>
                                                        <td>
                                                            <center>
                                                                <a href="{% url 'editarAlumno' alumno.pk pk %}" type="button" class="btn bg-orange btn-circle waves-effect waves-circle waves-float" title="Carga de alumnos manual"><i class="material-icons">edit</i></a>
                                                                <a href="{% url 'agregarAlumnoManual' pk %}" type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float" title="Carga de alumnos manual"><i class="material-icons">delete</i></a>
                                                            </center>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {% endfor %}
                                                {% else %}
                                                    <center><h5><b>No hay registros de Alumnos <i class="material-icons">mood_bad</i></b></h5></center>
                                                {% endif %}<br>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>

                    			</div>
               	 			</div>
            			</div>
					</div>

				</div>
			</div>
		</div>


</section>
</body>



{% endblock %}