{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

<body class="theme-amber">
<section class="content">
		<div class="row clearfix">
    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        		<div class="card">
                    <div class="header">
                        <h2><center><b>
                                AGREGAR ASIGNATURA
                                <small>Registra una Asignatura en el sistema</small>
                        </h2></center></b>
                    </div>

					<div class="body">
            			<div class="row clearfix">
                			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    			<div class="card">
                        			<div class="header">
                            			<h2><b>
                                			CREAR ASIGNATURA - DOCENTE
                            			</h2></b>
                        			</div>

                        			<div class="body">
              							<form method="POST">{% csrf_token %}
                							<div class="form-row">
                                				<div class="col-md-4 mb-4">
                    								<label for="{{form.nombre.nombre}}">{{form.nombre.label}}</label>
                      								{{form.nombre}}
                    							</div>
                    							<div class="col-md-4 mb-4">
                    								<label for="{{form.sigla.sigla}}">{{form.sigla.label}}</label>
                      								{{form.sigla}}
                    							</div>
                    							<div class="col-md-4 mb-4 show-tick">
                      								<label for="{{form.carrera.carrera}}">{{form.carrera.label}}</label>
                      								{{form.carrera}}
                    							</div>
                  							</div>
                  							<div class="form-group row">
                      							<div class="col-sm-10">
                        							<button type="submit" class="btn btn-success">Agregar</button>
                        							<a href="{% url 'misCursos' %}" class="btn btn-danger" title="Editar información" class="btn btn-success btn-lg btn-sm">Cancelar</a>
                      							</div>
                    						</div>
              							</form>
                        			</div>
                    			</div>
               	 			</div>
            			</div>
					</div><hr>

					<div class="body">
            			<div class="row clearfix">
                			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    			<div class="card">
                        			<div class="header">
                            			<h2><b>
                                			REGISTRAR ASIGNATURA COMO CURSO EN EL SISTEMA
                                			<small>Asignaturas Registradas</small>
                            			</h2></b>
                        			</div>

                        			<div class="body">
                        				<div class="body table-responsive">
                            				<table class="table table-bordered">
                                				<thead>
                                    				<tr>
                                        				<th>Carrera</th>
                                        				<th>Sigla</th>
                                                        <th>Asignatura</th>
                                                        <th><center>¿Desea activar el la asignatura como Curso?</center></th>
                                    				</tr>
                                				</thead>
                                				<tbody>
                                				{% if cursoList %}
                                				{% for asignatura in cursoList %}
                                    				<tr>
                                        				<th>{{asignatura.carrera.nombre}}</th>
                                                        <td>{{asignatura.sigla}}</td>
                                        				<td>{{asignatura.nombre}}</td>
                                        				<td>
                        									<center><a href="{% url 'agregarCurso' asignatura.pk %}" class="btn btn bg-purple waves-effect" title="Editar información" class="btn btn-success btn-lg btn-sm">Aceptar</a></center>
                                        				</td>
                                    				</tr>
                                    			{% endfor %}
                                    			{% else %}
                                    				<center><h5><b>No hay Asignaturas para registrar como Cursos <i class="material-icons">mood_bad</i></b></h5></center>
                                    			{% endif %}
                                				</tbody>
                            				</table>
                        				</div>
                        			</div>

                    			</div>
               	 			</div>
            			</div>
					</div>

				</div>
			</div>
		</div>


</section>
</body>



{% endblock %}