{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

<body class="theme-amber">
<section class="content">
		<div class="row clearfix">
    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        		<div class="card">
                    <div class="header">
                        <h2><center><b>
                                ACTIVAR ASIGNATURA COMO CURSO
                                <small>Registra esta asignatura como curso</small>
                        </h2></center></b>
                    </div>

					<div class="body">
            			<div class="row clearfix">
                			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    			<div class="card">
                        			<div class="header">
                            			<h2><b>
                                			ACTIVAR A CURSO - DOCENTE
                            			</h2></b>
                        			</div>
                        			<div class="body">
              							<form method="POST">{% csrf_token %}
                							<div class="form-row">
                                				<div class="col-md-4 mb-4">
                    								<label for="{{form.semestre.semestre}}">{{form.semestre.label}}</label>
                      								{{form.semestre}}
                    							</div>
                    							<div class="col-md-4 mb-4">
                    								<label for="{{form.anio.anio}}">{{form.anio.label}}</label>
                      								{{form.anio}}
                    							</div>
                                  <div class="col-md-4 mb-4">
                                    <label for="{{form.paralelo.paralelo}}">{{form.paralelo.label}}</label>
                                      {{form.paralelo}}
                                  </div>
                  							</div>
                  							<div class="form-group row">
                      							<div class="col-sm-10">
                        							<button type="submit" class="btn btn-success">Agregar</button>
                        							<a href="" class="btn btn-danger" title="Editar información" class="btn btn-success btn-lg btn-sm">Cancelar</a>
                      							</div>
                    						</div>
              							</form>
                        			</div>
                    			</div>
               	 			</div>
            			</div>
					</div><hr>

				</div>
			</div>
		</div>


</section>
</body>


{% endblock %}