{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

                                             
<body class="theme-amber">
<section class="content">
		<div class="row clearfix">
    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        		<div class="card">

                    <div class="header">
                        <h2><center><b>
                                MIS CURSOS
                                <small>Cursos registrados en el sistema</small>
                        </h2></center></b>
                    </div>

					<div class="body">
            			<div class="row clearfix">
                			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    			<div class="card">
                        			<div class="header">
                            			<h2><b>
                                			DETALLE ASIGNATURA
                            			</h2></b>
                        			</div>
                        			<div class="body">
                                        <p>
                                            Carrera: <b>{{asignatura.curso.carrera.nombre}}</b><br>
                                            Curso: <b> <i>{{asignatura.curso.sigla}}</i> - {{asignatura.curso.nombre}}</b><br>                                           
                                        </p><br>

                                        <h4><b>
                                            <center>EVALUACIONES DE LA ASIGNATURA</center>
                                        </h4></b>

                        				<div class="body table-responsive">
                            				<table class="table table-bordered">
                                				<thead>
                                    				<tr>
                                        				<th>Nombre</th>
                                        				<th>Tipo</th>
                                                        <th>Ponderación</th>
                                                        <th><center>Acciones</center></th>
                                    				</tr>
                                				</thead>
                                				<tbody>
                                				{% if curso %}
                                    				<tr>
                                        				<th scope="row">{{asignatura.curso.carrera.nombre}}</th>
                                        				<td>{{asignatura.curso.nombre}}</td>
                                                        <td>{{asignatura.curso.sigla}}</td>
                                                        <td>
                                                            <center>
                                                                <a href="" class="btn btn bg-cyan btn-circle waves-effect" title="Ir a Evaluaciones"><i class="material-icons">search</i></a>
                                                                <a href="" class="btn btn bg-light-green btn-circle waves-effect" title="Ver Rúbricas"><i class="material-icons">drafts</i></a>
                                                            </center>
                                                        </td>
                                    				</tr>
                                    			{% else %}
                                                <center><h5><b>¡No hay registros de Evaluaciones en este curso! </b></h5></center>
                                                    <center>
                                                        <a href="{% url 'agregarCurso' %}" type="button" class="btn bg-pink btn-circle waves-effect waves-circle waves-float" title="Carga de alumnos manual"><i class="material-icons">add</i></a>
                                                    </center>
                                    			{% endif %}
                                				</tbody>
                            				</table>
                        				</div>

<br>

                                        <h4><b>
                                            <center>ALUMNOS INSCRITOS EN EL CURSO</center>
                                        </h4></b>

                                        <div class="body table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>RUT</th>
                                                        <th>Nombre</th>
                                                        <th>Teléfono</th>
                                                        <th>Mail</th>
                                                        <th><center>Acciones</center></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% if curso %}
                                                    <tr>
                                                        <th scope="row">{{asignatura.curso.carrera.nombre}}</th>
                                                        <td>{{asignatura.curso.nombre}}</td>
                                                        <td>{{asignatura.curso.sigla}}</td>
                                                        <td>{{asignatura.semestre}}{{asignatura.anio}}</td>
                                                        <td>
                                                            <center>
                                                                <a href="" class="btn btn bg-cyan btn-circle waves-effect" title="Ir a Evaluaciones"><i class="material-icons">search</i></a>
                                                                <a href="" class="btn btn bg-light-green btn-circle waves-effect" title="Ver Rúbricas"><i class="material-icons">drafts</i></a>
                                                            </center>
                                                        </td>
                                                    </tr>
                                                {% else %}
                                                <center><h5><b>¡No hay registros de Alumnos inscritos en este curso! </b></h5></center>
                                                    <center>
                                                        <a href="{% url 'agregarAlumnoManual' %}" type="button" class="btn bg-purple btn-circle waves-effect waves-circle waves-float" title="Carga de alumnos manual"><i class="material-icons">add</i></a>
                                                        <a href="{% url 'agregarCurso' %}" type="button" class="btn bg-deep-purple btn-circle waves-effect waves-circle waves-float" title="Carga de alumnos en masa"><i class="material-icons">add</i></a>
                                                    </center>
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                        			</div>

                    			</div>
               	 			</div>
            			</div>
					</div>
				</div>
			</div>
		</div>
</section>
</body>


{% endblock %}